body{
	overflow-x: hidden;
}
img.profile{
	border-top-left-radius: 25%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 50%;
	margin-top: 50px;
	margin-left: 50px;
	border: 5px solid #61100b;
}
img.profile:hover{
	border: 10px solid #61100b;
}
header{
	background-image: url("../images/background.jpeg");
	background-color: #cccccc;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	height: 350px;
}
.main-container{
	padding-top: 150px;
	padding-left: 100px;
	background-image: url("../images/dot1.png");
	background-repeat: repeat;
	background-size: all;
	padding-bottom: 150px;

}

h1{
	color: #071e42;
	font-family: monospace;
	font-size: 50px;
}

li{
	font-family: Helvetica;
	font-size: 20px;
	margin-bottom: 10px;
}

a{
	font-style:normal;
	font-weight: 400;
	color: #1a0301;
}
a:hover{
	color: #a31f14;
}

footer.footer{
	background-color: #757575;
	height: 250px;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: -10px;
	
}
p.info{
	text-align: center;
	font-size: 15px;
	color: #fff;
	margin-top: 100px;

}


.column {
  float: left;
  width: 50%%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
